/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/libs/*
/bin/*
/doc/*
/report
/reports
/target
/dist
/.FlexUnitSettings/*
/.actionScriptProperties
/.flexProperties
/.flexLibProperties
/.project
/.idea
/*.iml
/com.adobe.flexbuilder.project.prefs
/org.eclipse.core.resources.prefs
FlexUnitApplication.mxml
user.properties
Icon
Thumbs.db
.DS_Store
