/.settings/*

/html-template/*
/bin-debug/*
/bin-release/*
/libs/*
/bin/*
/doc/*
/report/*
/dist/*
/.FlexUnitSettings/*
/.actionScriptProperties
/.flexProperties
/.flexLibProperties
/.project
/*.iml
/com.adobe.flexbuilder.project.prefs
/org.eclipse.core.resources.prefs
FlexUnitApplication.mxml
Icon
Thumbs.db
.DS_Store
